<h2>{{titulo}}</h2>
<br />
<div>
	{{ fecha | date: 'dd/MM/yyyy' }}
</div>
<div>
	{{ fecha | date: 'fullDate' | uppercase }}
</div>
<div>
	{{ 5 | conversor: 7 }}
</div>
<br />
<h3>Listado de prendas de ropa</h3>
<input type="text" [(ngModel)]="prenda_a_guardar">
<button (click)="guardarRopa()">Añadir prenda</button>
<p *ngIf="prenda_a_guardar">La prenda a guardar es: <strong>{{prenda_a_guardar}}</strong></p>
<ul>
	<li *ngFor="let prenda of listado_ropa; let i = index">
		{{prenda}}
		<button (click)="eliminarRopa(i)">Eliminar prenda</button>
	</li>
</ul>